[Unit]
Description=Run cpu-watchdog every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=cpu-watchdog.service

[Install]
WantedBy=timers.target
